.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 6rem;
  min-height: 100vh;
}

.heading {
  text-transform: capitalize;
}

.btn {
  background-color: transparent;
  text-transform: capitalize;
  border: 1px solid white;
  font-size: 24px;
  border-radius: 7px;
  padding: 15px 25px;
  transition: 0.3s linear;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
